# Ignore Python virtual environment
venv/

#ignore interview_results.json
interview_results.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db


# Ignore gguf files
*.gguf

*.txt